
# README
# Define your ids and secret in this ile and rename the file to api-keys-secrets.config

#!
#DO NOT SHARE YOUR SECRETS
#Note: Anyone that has access to this apps GAE account, can download and view this file
#You might want to use the remote api to store the ids and secrets right in the datastore and read from there
#Do not include this file in VCS.
#!

#FACEBOOK
facebook.client.id=YOUR_FACEBOOK_CLIENT_ID
facebook.client.secret=YOUR_FACEBOOK_CLIENT_SECRET

#GOOGLE
google.client.id=YOUR_GOOGLE_CLIENT_ID
google.client.secret=YOUR_GOOGLE_CLIENT_SECRET
