# Providers that are defined in this file
# The first part of the keys must match the name provided here (case insensitive)
# If you add a Provider name (like GitHub) you need to define
# all the properties required to describe an Oauth-Connection like...
#
# github.oauth.authorize.uri=VALUE
# github.oauth.authorize.params
# ...

# Provider names
providers=FACEBOOK,GOOGLE

# Facebook
facebook.oauth.authorize.uri=https://graph.facebook.com/oauth/authorize
facebook.oauth.authorize.params=scope=user_about_me,user_birthday,user_hometown
facebook.oauth.redirect=/oauth/facebook/redirect/
facebook.oauth.access.token.uri=https://graph.facebook.com/oauth/access_token
facebook.oauth.access.token.params=
facebook.oauth.access.token.method=POST
facebook.oauth.access.token.response.class=org.apache.amber.oauth2.client.response.GitHubTokenResponse
facebook.oauth.user.api.uri=https://graph.facebook.com/me

# Google
google.oauth.authorize.uri=https://accounts.google.com/o/oauth2/auth
google.oauth.authorize.params=scope=https://www.googleapis.com/auth/userinfo.profile&response_type=code&access_type=offline
google.oauth.redirect=/oauth/google/redirect/
google.oauth.access.token.uri=https://accounts.google.com/o/oauth2/token
google.oauth.access.token.params=grant_type=authorization_code
google.oauth.access.token.method=POST
google.oauth.access.token.response.class=org.apache.amber.oauth2.client.response.OAuthJSONAccessTokenResponse
google.oauth.user.api.uri=https://www.googleapis.com/oauth2/v2/userinfo